@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*::selection{
    background-color: #93c5fd;
    color : whitesmoke
}

body::-webkit-scrollbar{
    display: none;
    visibility: hidden;
}

.whyus::-webkit-scrollbar{
    display: none;
    visibility: hidden;
}

#CardSection::-webkit-scrollbar{
    display: none;
    visibility: hidden;
}

.googleform::-webkit-scrollbar{
    display: none;
    /* visibility: hidden; */
}

/* BgImage of AboutSection */
.bg-image {
    position: relative;
    background-image: url('https://bsmedia.business-standard.com/_media/bs/img/article/2024-05/08/full/1715186307-5722.jpg'); /* Replace with your image URL */
    background-size: cover;
    background-position: center;
  }
  .bg-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Adjust the opacity as needed */
    z-index: 1;
  }
  .content {
    position: relative;
    z-index: 2;
  }